<html>
    <head>
        <title>OVERWEIGHT</title>
        <style type="text/css">
            body {
               background-image: url('../css/backgrd2.jpg'); 
               background-repeat: no-repeat;
               background-attachment: fixed;
               background-size: cover;
               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: 300;
                font-size: large;
                font-style: normal;
            }
            ul{
                display: block;
                list-style:none;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 0;
                margin-right: 0;
                padding-left: 40px;
            }
            .para2 ul{
                list-style-type: disc;
            }
          .para4 ul li::before{
                content:"\2705";
            }
            .para5 ul li::before{
                content: "\274C";
            }
        </style>
    </head>
    <body>
        <div class="para1">
            <h2>Risks associated with being overweight
            </h2>
            <p>Being overweight increases the risk of a number of serious diseases and health conditions.</br> 
                Below is a list of said risks, according to the Centers for Disease Control and Prevention (CDC):</p>
            </p>
        </div>
        <div class="para2">
            <ul >
                <li>High blood pressure</li>
                   <li> Type II diabetes</li>
                   <li> Coronary heart disease</li>
                    <li>Stroke</li>
                   <li> Gallbladder disease</li>
                    <li>Osteoarthritis, a type of joint disease caused by breakdown of joint cartilage</li>
                    <li>Sleep apnea and breathing problems</li>
                    <li>Certain cancers (endometrial, breast, colon, kidney, gallbladder, liver)</li>
                   <li> Low quality of life </li>
                   <li>Mental illnesses such as clinical depression, anxiety, and others</li>
                    <li>Body pains and difficulty with certain physical functions</li>
                    <li>Generally, an increased risk of mortality compared to those with a healthy BMI</li>
            </ul>
        </div>
        <div class="para3">
            <h2>A SIMPLE WAY TO LOSE WEIGHT</h2>
            <p>Losing weight is not easy thing.but on process one day we can achieve our desired goals</p>
        </div>
        <div class="para4"><h3>TIPS TO LOSE WEIGHT</h3>
        <h3>DO'S</h3>
        <ul>
            <li>eat more often</li> 
            <li>drink milk</li>
            <li>try weight gainer shakes</li>
            <li>add cream to your coffee</li>
            <li>add creatine</li>
            <li>get quality sleep</li>
            <li>eat your protein first and vegetables last</li>
        </ul>
        </div>
        <div class="para5">
        <h3>DON'T</h3>
        <UL>
            <li>drink water before meals</li>
            <li>smoke</li>
        </UL>
        </div>
    </body>
</html>