<html lang="en">
    <head>
        <title>under weight</title>
        <style type="text/css">
            body {
               background-image: url('../css/back2.jpg'); 
               background-repeat: no-repeat;
               background-attachment: scroll;
               background-size: cover;
               font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-weight: 300;
                font-size: large;
                font-style: normal;
            }
            ul{
                display: block;
                list-style:none;
                margin-top: 1em;
                margin-bottom: 1em;
                margin-left: 0;
                margin-right: 0;
                padding-left: 40px;
            }
            .para2 ul{
                list-style-type: disc;
            }
          .para4 ul li::before{
                content:"\2705";
            }
            .para5 ul li::before{
                content: "\274C";
            }
        </style>
    </head>
    <body>
        <div class="para2">
            <h2>Risks associated with being underweight</h2>
            <p>Being underweight has its own associated risks, listed below:</p>
            <ul>
                <li>Malnutrition, vitamin deficiencies, anemia (lowered ability to carry blood vessels)</li>
                   <li> Osteoporosis, a disease that causes bone weakness, increasing the risk of breaking a bone</li>
                   <li> A decrease in immune function</li>
                   <li> Growth and development issues, particularly in children and teenagers</li>
                   <li> Possible reproductive issues for women due to hormonal imbalances that can </br>disrupt the menstrual cycle.</br> Underweight women also have a higher chance of miscarriage in the first trimester</li>
                   <li> Potential complications as a result of surgery</li>
                   <li> Generally, an increased risk of mortality compared to those with a healthy BMI</li>
            </ul>
        </div>
        <div class="para3"><h2>HEALTHY WEIGHT GAIN</h2>
        <p>Gaining weight can be difficult for some people. With a few changes, you can gradually reach a healthy weight.</br>

            Being underweight could mean you're missing out on vitamins and minerals.</br>
            
            This could lead to health problems such as a weak immune system and bone fractures.
            
            </p></div>
            <div class="para4">
            <h3>TIPS TO GAIN WEIGHT</h3>
            <h3>DO'S</h3>
        <ul>
            <li>gain weight gradually by adding healthy calories — adults could try adding around 300 to 500 extra calories a day</li>

               <li>eat smaller meals more often, adding healthy snacks between meals</li>
                
               <li>add extra calories to your meals with cheese, nuts, and seeds</li>
                
               <li>have high-calorie drinks in between meals, such as milkshakes</li>
                
               <li> have a balanced diet – choose from a variety of food groups, such as fruit and vegetables, starchy carbohydrates and dairy and alternatives</li>
                
               <li>add protein to your meals with beans, pulses, fish, eggs and lean meat</li>
                
               <li> have snacks that are easy to prepare, such as yogurt or rice pudding</li>
                
                <li>build muscle with strength training or yoga – exercise can also improve your appetite</li>
        </ul></div>
        <div class="para5">
            <h3>DON'T</h3>
            <ul>
            <li>do not rely on chocolate, cakes and sugary drinks to gain weight</li>
            <li> do not fill up on drinks before eating meals</li>
            </ul>
        </div>
    </body>
</html>